/*Asterisk wildcard selector*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}

/*General body styles*/
body {
min-height: 100vh;
display: flex;
flex-direction: column;

}
/*Hearder*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: rebeccapurple;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: rebeccapurple;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rebeccapurple;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*main*/
main {
    background-color: blue;
    /*Make main element take any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*footer*/
footer {
    background-color: brown;
}

/*Media query for tablets and larger (768px and up)*/
@media  screen and (min-width: 768px) {
    /*Header*/
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /*Main Content*/
    main{
    margin-top: 75px;
    }
}