/*Asterisk wildcard selector*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}

/*General body styles*/
body {
min-height: 100vh;
display: flex;
flex-direction: column;

}
/*Hearder*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 2px;
    color: rebeccapurple;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: rebeccapurple;
    background-color: #ffffff;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    font-weight: 600;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rebeccapurple;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*main*/
main {
    /*Make main element take any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009698), url("../images/Banner-image.jpg") no-repeat center center/cover;
    
    }

.logo-img {
    width: 70px;
    position: absolute;
    top: 10%;
    left: 4%;
    }

.hero-text {
    text-align: center;
    color: #ffffff;
    padding-top: 180px;
    }
    
.hero-text h1 {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    }
    
.hero-text p {
    font-size: 25px;
    font-style: italic;
    top: 60%;
}

.info-btn {
    margin: 70px auto 0;
   }

.info-btn a {
     width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #ffffff;
    border: .5px solid #ffffff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    font-weight: 600;
   }

.info-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff ;
    z-index: -1;
    transition: .5s;
   }

.info-btn a:hover span {
    width: 100%;
    }
    
.info-btn a:hover {
    color: rebeccapurple;
    }

    /*Map Section*/
.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    color: rebeccapurple;

}

#contact {
    flex: 1;
    padding: 20px;
    background: transparent;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    background-color: #efefef;
}

#contact p {
    margin: 10px;
    text-align: center;
    font-weight: 600;
   
}

#map {
    
    height: 250px;
    width: 100%;
    border-radius: 7px;
}

/*About Us Page*/
#about-us {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009698),
        url("../images/Clubhouse.TCC.jpg") no-repeat center center/cover;
    
}

.abt-box .abt h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    background: rgba(0, 150, 136, .2);
    border-radius: 20px;
        }

.title-text p {
    color: #ffffff;
}

.abt-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.abt-img {
    flex-basis: 100%;
}

.abt-img img {
    width: 100%;
}

/*--Fixtures and Results--*/

#fix-res {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #efefef;
    
}

.title-text p {
    color:#ffffff;
    border-radius: 20px;
    background: rgba(0, 150, 136, .5);
    text-align: center;
}

.image-fr {
    margin:0 10px;
    flex-basis: 100%;
    position: relative;
    display: inline-block;
}

.image-fr img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.button-overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
     }

.button-fr {
    display: flex;
    justify-content: center;
}

.button-fr a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #009688;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-fr a:hover {
    background-color: #2980b9;
}


/*Membership*/
    #facilities {
        width: 100%;
        padding: 30px 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), #009698),
            url("../images/Club-ground.jpg") no-repeat center center/cover;;
    }

    .title-text {
    text-align: center;
    padding: 20px;
    }

    .title-text h2 {
        margin-right: auto;
        margin-top: 0;
        font-size: 35px;
        color: #009688;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-family: 'Kaushan Script',cursive;
    }

    #facilities .title-text p {
        font-size: 20px;
        background: rgba(0, 150, 136, .5);
        margin-top: 10px;
        }

    .facilities-box {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
                }

    .single-service {
        flex-basis: 100%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 2px;
        color: #ffffff;
        position: relative;
    }
     .single-service img {
        width: 100%;
        border-radius: 7px;
        margin-left: 30px;
        }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 7px;
        cursor: pointer;
        background: linear-gradient(rgba(0,0,0,0.5), #009688);
        margin-left: 30px;
        opacity: 0;
        transition: 1s;
        }
    .single-service:hover .overlay {
        opacity: 1;
        }

    .facilities-desc {
        width: 90%;
        position: absolute;
        bottom: 20%;
        left: 60%;
        background: rgba(0, 150, 136, .5);
        border-radius: 20px;
        transform: translate(-50%);
        
        }
    hr {
        background: #ffffff;
        height: 1px;
        border: 0;
        margin: 5px auto;
        width: 60%;
        }

    .facilities-desc p {
        font-size: 14px;
        }

        /*Contact and Payment Options*/
    .container1 {
        margin: 0 auto;
        padding: 10px;
        background: #efefef;
        width: 100%;
        }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        }

    #section {
        flex: 1 0 100%;
        margin-bottom: 5px;
        padding: 10px 0;
        border: 20px;
        border-radius: 8px;
        background: rgba(0, 150, 136, .6);
        text-align: center;
        }

    #section h2 {
        color: rebeccapurple;
    }

    #section p {
        color: #ffffff;
    }

    .bnk {
        list-style-type: none;
        color: #ffffff;
    }


    /*Gallery page*/
    #photos img {
        width: 100%;
        line-height: 1em;
    }

    #photos {
        line-height: 0;
    }


/*Signup Page*/
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009698),url("../images/Clubhouse.TCC.jpg") no-repeat center center/cover;
}

.wrapper {
    width: 250px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 2px 4px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 12px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .btn-s {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    margin: 5px 0 5px
}

.wrapper .btn-s:hover {
    color: rebeccapurple;
}


/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #ffffff;
}

    
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: rebeccapurple;
    
}


/*Gallery*/
/*Media query for larg or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}


/*Media query for tablets and larger (768px and up)*/
@media  screen and (min-width: 768px) {
    /*Header*/

    main {
        margin-top: 0;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #hero {
        height: 800px;
    }

    #logo{
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
    /*Main Content*/
    main{
        margin-top: 75px;
    }

    .logo-img {
        width: 140px;
        position: relative;
        top: 5%;
        left: 5%;
    }
        
    .hero-text {
        text-align: center;
        color: #ffffff;
        padding-top: 180px;
        
    }
        
    .hero-text h1 {
        font-size: 80px;
        font-family: 'Kaushan Script', cursive;
        margin-top: 5%;
        color: #ffffff;
    }
        
    .hero-text p {
        font-size: 40px;
        font-style: italic;
    }

    /*Map*/
     #contact {
        flex: 1;
        width: 50%;
        align-items: center;
        
        }
    #map {
        width: 50%;
    }

    /*Membership Section*/
    .facilities-box {
         margin: auto;
        }

     .facilities-desc {
        bottom: 20%;
        left: 55%;
        width: 50%;
     }   

    .title-text h2 {
        font-size: 60px;
    }
    
    .single-service {
        flex-basis: 48%;
    }

    .single-service img {
        width: 100%;
        border-radius: 7px;
        display: flex;
        }
/*Contact and payment options*/
    #section {
        flex: 1;
}

    #hero {
    height: 800px;
        }

    /*Gallery */
    #photos {
        column-count: 3;
    }

    /*Signup*/

    .wrapper {
        width: 500px;
        padding: 30px 40px;
    }

    .input-box input {
        font-size: 16px;
    } 

    .wrapper .btn-s {
        font-size: 16px;
        margin: 20px 0 15px;
    }
    
        

/*Media query for laptops and larger (992px and up)*/
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid rebeccapurple;
    }
    
    #hero {
        height: 2000px;
    }

    /*Main Content*/
    main {
        margin-top: 75px;
        }
        
    .hero-text h1 {
        margin-top: 20%;
    }


    /*About Us Page*/
        
    .abt-box {
        margin-top: 10px;
    }
        
    .abt {
        flex-basis: 50%;
    }
        
    .abt-img {
        flex-basis: 50%;
        margin: auto;
    }
        
    .abt-img img {
        width: 80%;
        border-radius: 2px;
    }

    /*Map*/
    #contact {
    width: 35%;
    }
    
    #map {
    width: 65%;
    }
        


    }
}